@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --white:#FFFFFF;
    --orange:#FAB637; 
    --red:#FF4848;
    --brown:#CC6119;
    --grey:#ECEFF3;
    --black: #232628;
    --blue: #6C98E1;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.accessibility {
    position: absolute;
    left: -15000px;
}

address {
    background-color: var(--black);
    font-style: normal;
    color: var(--white);
    font-size: small;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 1rem;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

address p {
    margin: 2% 0;
}

address img {
    height: 2rem;
    padding: 0 0.2rem;
}

.orange {
    color: var(--brown);
    font-size: x-small;
    font-weight: bold;
}

.orangeTitle {
    color: var(--brown);
}

#icone {
    width: 15%;
}

.adresse, .telephone, .social {
    display: flex;
    align-items: center;
    justify-content: center;
}

#vehiculeAccueil {
    background-image: url(/images/vehicule1.jpg);
    background-size:cover;
    max-width: 100%;
    height: 50rem;
}

#vehiculeAccueilTitle {
    background-color: var(--black);
    color: var(--white);
    padding: 1.5rem 8rem;
    font-weight: bold;
    margin-top: 0;
}

#mainNav {
    display: block;
    background-color: var(--grey);
    opacity: 0.75;
    justify-content: space-around;
}

#mainNav ul {
    padding-right: 10rem;
    margin: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#mainNav a {
    padding: 0.82rem;
    text-decoration: none;
    text-align: center;
    line-height: 3;
    font-weight: bold;
}

#enCours {
    background-color: var(--brown);
    color: var(--white);
}

.accessibility {
    position: absolute;
    left: -15000px;
}

#doubleArticles {
    display: grid;    
    padding: 1.5rem 8rem;
}

.bold {
    font-weight: bold;
}

.border {
    border-top: solid var(--grey);
    padding: 2rem 0;
}

#firstArticle, #secondArticle {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
}

#secondArticle li {
    padding : 0.5rem;
}

.image {
    max-width: 790px;
    max-height: auto;
}

.article {
    padding: 1.5rem;
}

#rentOrBuy {
    display: flex;
    align-items: center;
    background-image: url(/images/vehicule2.jpg);
    background-size:cover;
    width: 100%;
    height: 50rem;
}

#rentOrBuy p {
    color: var(--white);
}

.rent {
    background-color: var(--orange);
    opacity: 0.95;
    margin-left: 9rem;
    margin-right: 1rem;
    padding: 3rem;
}

.buy {
    background-color: var(--red);
    opacity: 0.95;
    margin-left: 1rem;
    margin-right: 9rem;
    padding: 3rem;
}

#vehiculesRecents {
    background-color: var(--black);
    padding: 1rem;
}

#vehiculesRecents h2 {
    color: var(--white);
    text-align: center;
}

#vehiculesRecents p {
    color: var(--white);
    font-weight: bold;
}

#vehiculesRecents ul {
    display: flex;
    justify-content:center;
    list-style: none;
    padding: 2rem 9rem;
}

#vehiculesRecents li {
    border-top: solid var(--brown);
    padding: 2rem 1rem;
}

.audi {
    max-width: 100%;
    max-height: auto;
}

.vehiculeInfo {
    background-color: var(--black);
    justify-content: space-between;
    display: flex;
    border-bottom: solid var(--grey);
}

.vehiculeDescription {
    padding: 1rem;
}

.price {
    background-color: var(--blue);
    text-align:center;
    padding: 1rem;
    display: grid;
}

.overPrice {
    text-decoration: line-through;
    font-size: small;
    color: var(--black);
}

#choose {
    display: block;
    list-style: none;
}

#choose h2 {
    text-align: center;
    margin: 2rem;
    font-weight: bold;
}

#choose ul {
    display: flex;
    list-style: none;
    margin: 4rem 8rem;
} 

#choose h3 {
    margin: 0 1rem;
    text-transform: uppercase;
}

#choose p {
    margin-left: 1rem;
}

#choose li {
    display: flex;
    padding: 2rem;
}

.form{
    display: flex;
    justify-content: center;
}

.contact {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem;
}

.pict {
    padding: 0;
    max-width: 4rem;
    height: 4rem;
}

#buyAndRent {
    display: flex;
    align-items:center;
    justify-content:start;
    margin-top : 4rem;
    background-image: url(/images/vehicule3.jpg);
    background-size:cover;
    width: 100%;
    height: 50rem;
}

#buyAndRent h2{
    text-transform: uppercase;
    font-weight: bold;
}

.white {
    color: var(--white);
}

.buyAndRent {
    background-color: var(--orange);
    opacity: 0.95;
    margin-left: 9rem;
    margin-right: 50rem;
    padding: 3rem;
    font-weight: bold;
}

#mainFooter {
    background-color: var(--black);
}

#mainFooter h3 {
    text-transform: uppercase;
    color: var(--white);
    font-size: small;
}

#mainFooter p {
    color: var(--grey);
}

#mainFooter ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: solid var(--grey);
    padding: 1.5rem;
}

#mainFooter li {
    display: block;
    list-style: none;
}

.rss {
    background-color: var(--brown);
}

.iconRss {
    color: var(--white);
}

.blue {
    color: var(--blue);
}

#copyright {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.logo {
    color: var(--white);
} 

#vehiculeContact {
    background-image: url(/images/vehicule3.jpg);
    background-size:cover;
    max-width: 100%;
    height: 25rem;
    margin: 0;
}

#contact {
    background-color: var(--grey);
    display: flex;
    justify-content:center;
    text-align: center;
}

#form {
    background-color: var(--white);
    padding: 2rem 4rem;
    margin: 4rem;
}

#frmContact{
    display: flex;
    justify-content: end;
    text-align: center;
}

#contact h1 {
    margin: 0;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: start;
}

.formContent {
    display: grid;
    margin: 0 0.5rem;
    padding: 1rem;
}

.formContent label {
    text-align: start;
    color: var(--black);
    padding-bottom: 0.3rem;
    font-size: small;
}

.formContent input {
    background-color: var(--grey);
    border: none;
    padding: 0.5rem 2rem;
    font-size: small;
    text-align:start;
}

.formContent button {
    background-color: var(--blue);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    width: 8rem;
    height: 2.5rem;
}

#contact form textarea {
    background-color: var(--grey);
    height: 7rem;
    width: 18rem;
    border: none;
    padding: 0.5rem;
    font-size: small;
    resize: none;
}



/**
body {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black);
    font-size: 1rem;
}
img {
    max-width: 100%;
    height: auto;
}
.accessibility {
    position: absolute;
    left: -15000px;
}

#mainHeader, #mainFooter{
    background-color: var(--red);
}
#mainHeader {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 80px 1fr 40px;
}
#logoImg {
    width: 80px;
    padding: 5px;
    z-index: 1000;
    position: relative;
}
#mainHeader > h1 {
    color: var(--white);
    font-family: Cantarell, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: normal;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0;
}
#mainNav {
    background-color: var(--red);
    position: absolute;
    width: 100%;
    top: 40px;
    padding-bottom: 10px;
    display: none;
}
#mainNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#mainNav a{
    color: var(--white);
    text-decoration: none;
    font-family: Cantarell, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    display: block;
    padding-left: 90px;
}
#mainNav a:hover{
    color: var(--shaded-red);
}
#menuToggle{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}
#pageContent {
    background: url(/images/image-1.jpg) center center / cover no-repeat fixed;
    padding: 100px 20px;
    min-height: 100vh;
}
#pageContent h1{
    font-size: 1.8em;
    color: var(--red);
    letter-spacing: .1em;
}
#pageContent.home{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#pageContent.home #pictInfo {
    background-color: var(--tWhite);
    padding: 40px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
#pageContent.home #pictInfo h1{
    font-family: Cantarell, Arial, sans-serif;
    font-size: 1.2em;
    margin: 10px 0;
}
#pageContent.home #pictInfo p{
    margin: 10px 0;
    font-size: .8em;
}
#pageContent.text h2{
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: .1em;
    margin-top: 50px;
}
#pageContent.text img{
    max-width: 100%;
    height: auto;
}
#pageContent.text .alignLeft{
    float: left;
}
#pageContent.text .alignRight{
    float: right;
}
#pageContent.text dl {
    border: 1px solid var(--black);
    border-radius: 20px;
    background-color: var(--white);
    padding: 20px;
    color: var(--black);
}
#pageContent.text dl dt {
    font-weight: bold;
    font-size: 1.2em;
}
#pageContent.text dl dd {
    margin: 10px 0 10px 20px;
}
#pageContent.galleries ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 20px;
 }
#pageContent.galleries ul li{
    background-color: var(--white);
    padding: 10px;
}
#pageContent.galleries ul li a{
    color: var(--black);
    text-decoration: none;
}
#pageContent.galleries ul li:hover{
    background-color: var(--shaded-red);
}
#pageContent.contact form{
    border-top: solid 1px var(--red);
    display: grid;
}
#pageContent.contact form > div > div {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
#pageContent.contact form label{
    margin-bottom: 5px;
    font-size: 1.1em;
}
#pageContent.contact form textarea {
    height: 150px;
    resize: none;
}
#pageContent.contact form button{
    padding: 10px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    margin-top: 30px;
}
#pageContent.contact form button:hover{
    background-color: var(--shaded-red);
}
#pageContent.contact form button:active{
    background-color: var(--red);
}
#pageContent.twoCols{
    display: grid;
    grid-gap: 20px;
}
#pageContent.blogList #leftCol{
    display: grid;
    grid-gap: 20px;
}
#pageContent.blogList #leftCol article{
    padding: 20px;
}
#pageContent.blogList #leftCol article:nth-child(even){
    background-color: var(--white);
}
#pageContent.blogList #leftCol article:nth-child(odd){
        background-color: var(--shaded-red);
}
#pageContent.blogList #leftCol article header{
    border-bottom: 1px solid var(--black);
}
#pageContent.blogList #leftCol article header h1{
    margin: 0;
    color: var(--green);
    font-size: 1.3em;
}
#pageContent.blogList #leftCol article header p{
    font-size: .8em;
    font-style: italic;
}
#pageContent.blogList #leftCol article a{
    color: var(--red);
    text-decoration: none;
}
#pageContent.blogList #leftCol article a:hover{
    text-decoration: underline;
}
#pageContent.blog #rightCol{
    background-color: var(--red);
    padding: 20px;
}
#pageContent.blog #rightCol section{
    border-bottom: 1px solid var(--white);
    padding-bottom: 20px;
}
#pageContent.blog #rightCol section > h1{
    color: var(--white);
    font-size: 1.3em;
}
#pageContent.blog #rightCol #blogSearch input{
    width: 100%;
    border-radius: 10px;
}
#pageContent.blog #rightCol ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#pageContent.blog #rightCol ul li, #pageContent.blog #rightCol h2{
    background-color: var(--white);
}

#pageContent.blog #rightCol ul li:nth-child(even){
    background-color: var(--tWhite);
}
#pageContent.blog #rightCol h2{
    font-size: 1em;
}
#pageContent.blog #rightCol li a, #pageContent.blog #rightCol h2 a{
    color: var(--black);
    text-decoration: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;

}
#pageContent.blog #rightCol li a span, #pageContent.blog #rightCol h2 span{
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    background-color: var(--red);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
#pageContent.blog #rightCol li a:hover, #pageContent.blog #rightCol h2 a:hover{
    background-color: var(--shaded-red);
}
#pageContent.blog #rightCol li a:hover span, #pageContent.blog #rightCol h2 a:hover span{
    background-color: var(--white);
    color: var(--red);
}
#pageContent.blog #rightCol ul li:first-child, #pageContent.blog #rightCol ul li:first-child a:hover {
    border-radius: 10px 10px 0 0;
}
#pageContent.blog #rightCol ul li:last-child, #pageContent.blog #rightCol ul li:last-child a:hover {
    border-radius: 0 0 10px 10px;
}
#pageContent.blog #rightCol h2, #pageContent.blog #rightCol h2 a:hover{
    border-radius: 10px;
}

main {
    background-color: var(--tWhite);
    padding: 20px;
}


#mainFooter{
    height: 40px;
    width: 100%;
    font-size: .5em;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

@media screen and (min-width: 768px){
    #menuToggle{
        display: none;
    }
    #mainHeader{
        grid-template-columns: 80px 250px 1fr;
    }
    #mainNav{
        position: static;
        background-color: transparent;
        display: block !important;
    }
    #mainNav ul{
        flex-direction: row;
        justify-content: flex-end;
        height: 40px;
        align-items: center;
    }
    #mainNav a{
        font-size: 1.2em;
        padding: 0 10px;
    }
    #pageContent.home{
        justify-content: flex-end;
    }
    #pageContent.galleries ul{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px){
    #menuToggle{
        display: none;
    }
    #mainHeader{
        grid-template-columns: 80px repeat(2, 1fr);
    }
    #mainHeader > h1{
        font-size: 1.3em;
    }
    #pageContent.contact form{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    #pageContent.contact form button{
        grid-column: span 2;
    }
    #pageContent.galleries ul{
        grid-template-columns: repeat(3, 1fr);
    }
    #pageContent.twoCols{
        grid-template-columns: 2fr 1fr;
    }
}
@media screen and (min-width: 1200px){
    #menuToggle{
        display: none;
    }
    #pageContent.galleries ul{
        grid-template-columns: repeat(4, 1fr);
    }
    #pageContent.twoCols{
        grid-template-columns: 3fr 1fr;
    }
}
*/