@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --white:#FFFFFF;
    --orange:#FAB637; 
    --red:#FF4848;
    --brown:#CC6119;
    --grey:#ECEFF3;
    --black: #232628;
    --blue: #6C98E1;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.accessibility {
    position: absolute;
    left: -15000px;
}
address {
    background-color: var(--black);
    font-style: normal;
    color: var(--white);
    font-size: small;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 1rem;
}

.indexTitle {
    font-size: xx-large;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

address p {
    margin: 2% 0;
}

address img {
    height: 2rem;
    padding: 0 0.2rem;
}

.orange {
    color: var(--brown);
    font-size: x-small;
    font-weight: bold;
}

.orangeTitle {
    color: var(--brown);
}

#icone {
    width: 15%;
}

.adresse, .telephone, .social {
    display: flex;
    align-items: center;
    justify-content: center;
}

#indexMainNav {
    background-image: url(/images/vehicule1.jpg);
    background-size:cover;
    max-width: 100%;
    height: 50rem;
}

#vehiculeAccueilTitle {
    background-color: var(--black);
    color: var(--white);
    padding: 1.5rem 8rem;
    font-weight: bold;
    margin-top: 0;
}

#mainNav {
    display: block;
    justify-content: space-around;
}

#mainNav ul {
    background-color: var(--grey);
    opacity: 0.75;
    padding-right: 10rem;
    margin: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#mainNav a {
    padding: 0.82rem;
    text-decoration: none;
    text-align: center;
    line-height: 3;
    font-weight: bold;
}

#menuToggle{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}

.menuToggle {
    color: var(--blue);
}

#enCours {
    background-color: var(--brown);
    color: var(--white);
}
#doubleArticles {
    display: block;    
    padding: 1.5rem 8rem;
}

.bold {
    font-weight: bold;
}

.border {
    border-top: solid var(--grey);
    padding: 2rem 0;
}

#firstArticle, #secondArticle {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
}

#secondArticle li {
    padding : 0.5rem;
}

.image {
    max-width: 800px;
    max-height: auto;
}

.article {
    padding: 1.5rem;
}

#rentOrBuy {
    display: flex;
    align-items: center;
    background-image: url(/images/vehicule2.jpg);
    background-size:cover;
    width: 100%;
    height: 50rem;
}

#rentOrBuy p {
    color: var(--white);
}

.rent {
    background-color: var(--orange);
    opacity: 0.95;
    margin-left: 9rem;
    margin-right: 1rem;
    padding: 3rem;
}

.buy {
    background-color: var(--red);
    opacity: 0.95;
    margin-left: 1rem;
    margin-right: 9rem;
    padding: 3rem;
}

#vehiculesRecents {
    background-color: var(--black);
    padding: 1rem;
}

#vehiculesRecents h2 {
    color: var(--white);
    text-align: center;
}

#vehiculesRecents p {
    color: var(--white);
    font-weight: bold;
}

#vehiculesRecents ul {
    display: flex;
    justify-content:center;
    list-style: none;
    padding: 2rem 9rem;
}

#vehiculesRecents li {
    border-top: solid var(--brown);
    padding: 2rem 1rem;
}

.audi {
    max-width: 100%;
    max-height: auto;
}

.vehiculeInfo {
    background-color: var(--black);
    justify-content: space-between;
    display: flex;
    border-bottom: solid var(--grey);
}

.vehiculeDescription {
    padding: 1rem;
}

.price {
    background-color: var(--blue);
    text-align:center;
    padding: 1rem;
    display: grid;
}

.overPrice {
    text-decoration: line-through;
    font-size: small;
    color: var(--black);
}

#choose {
    display: block;
    list-style: none;
}

#choose h2 {
    text-align: center;
    margin: 2rem;
    font-weight: bold;
}

#choose ul {
    display: flex;
    list-style: none;
    margin: 4rem 8rem;
} 

#choose h3 {
    margin: 0 1rem;
    text-transform: uppercase;
}

#choose p {
    margin-left: 1rem;
}

#choose li {
    display: flex;
    padding: 2rem;
}

.form{
    display: flex;
    justify-content: center;
}

.contact {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem;
}

.pict {
    padding: 0;
    max-width: 4rem;
    height: 4rem;
}

#buyAndRent {
    display: flex;
    align-items:center;
    justify-content:start;
    margin-top : 4rem;
    background-image: url(/images/vehicule3.jpg);
    background-size:cover;
    width: 100%;
    height: 50rem;
}

#buyAndRent h2{
    text-transform: uppercase;
    font-weight: bold;
}

.white {
    color: var(--white);
}

.buyAndRent {
    background-color: var(--orange);
    opacity: 0.95;
    margin-left: 9rem;
    margin-right: 50rem;
    padding: 3rem;
    font-weight: bold;
}

#mainFooter {
    background-color: var(--black);
}

#mainFooter h3 {
    text-transform: uppercase;
    color: var(--white);
    font-size: small;
}

#mainFooter p {
    color: var(--grey);
}

#mainFooter ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: solid var(--grey);
    padding: 1.5rem;
}

#mainFooter li {
    display: block;
    list-style: none;
}

.rss {
    background-color: var(--brown);
}

.iconRss {
    color: var(--white);
}

.blue {
    color: var(--blue);
}

#copyright {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.logo {
    color: var(--white);
} 

#contactMainNav {
    background-image: url(/images/vehicule3.jpg);
    background-size: cover;
    max-width: 100%;
    height: 30rem;
    margin: 0;
}

#contact {
    background-color: var(--grey);
    display: flex;
    justify-content:center;
    text-align: center;
}

#form {
    background-color: var(--white);
    padding: 2rem 4rem;
    margin: 0rem;
    position: relative;
    bottom: 160px;    
}

#frmContact{
    display: flex;
    justify-content: end;
    text-align: center;
}

#contact h1 {
    margin: 0;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: start;
}

.formContent {
    display: grid;
    margin: 0 0.5rem;
    padding: 1rem;
}

.formContent label {
    text-align: start;
    color: var(--black);
    padding-bottom: 0.3rem;
    font-size: small;
}

.formContent input {
    background-color: var(--grey);
    border: none;
    padding: 0.5rem 2rem;
    font-size: small;
    text-align:start;
}

.formContent button {
    background-color: var(--blue);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    width: 8rem;
    height: 2.5rem;
}

#contact form textarea {
    background-color: var(--grey);
    height: 7rem;
    width: 18rem;
    border: none;
    padding: 0.5rem;
    font-size: small;
    resize: none;
}

.vehicule {
    margin-left: 11rem;
    margin-right: 25rem;
}

#uppercase {
    text-transform: uppercase;
    font-size: small;
    padding-bottom: 0.8rem;
    border-bottom: solid var(--grey);
    border-width: 2px;
}

.vehicule img {
    width : 82rem
}

.vehicule h2 {
    font-weight: bold;
    padding-top: 0.5rem;
}

.vehicule h3 {
    text-transform: uppercase;
    margin-top: 3rem;
}

.vehicule p {
    margin: 2rem 0;
}

.rubriques {
    margin: 2rem 0;
    padding-left: 0;
    display: flex;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--black);
    color: var(--white);
}

.rubriques li {
    padding: 0 1rem;
    line-height: 3;
}

#whiteBackground {
    background-color: var(--white);
    color: var(--black);
    margin: 0 0.5rem;
    font-weight: bold;
    border-top: solid var(--brown);
}

#mediumFont {
    font-size:large;
}

#italicFont {
    font-style: italic;
    padding: 0 2rem;
    border-left: solid var(--brown);
}

.options {
    padding: 0.5rem;
    list-style-image: url(/images/check.svg);
}

.options li {
    padding: 0.5rem 0;
}

@media screen and (max-width: 768px){
    .indexTitle, .adresse, .horaires, .social {
        display: none;
    }
    #menuToggle {
        position: absolute;
        top: 20px;
        right: 10px;
    }
    #indexMainNav {
        background-image: none;
        height: 0;
    }
    #mainNav {
        background-color: none;
        background-image: none;
        position: absolute;
        width: 100%;
        top: 40px;
        padding-bottom: 10px;
        display: none;
    }
    #mainNav ul {
        background-color: var(--black);
        opacity: 1;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mainNav a {
        color: var(--white);
    }
    address {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }
    address div {
        padding: 0.5rem 0;
    }
    #doubleArticles {
        margin : 4rem 0;
        padding: 0 2rem;
    }
    #firstArticle, #secondArticle {
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 25rem;
    }
    #rentOrBuy {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rent, .buy {
        margin: 2rem 0;
        padding: 0 9rem;
    }
    #vehiculesRecents {
        margin: 2rem 0;
    }
    #vehiculesRecents h2 {
        font-size: 3rem;
    }
    #vehiculesRecents ul, li{
        margin: 0;
        padding: 0;
    }
    .vehiculeInfo {
        flex-direction: column-reverse;
        align-items: start;
        text-align: left;
        padding: 0;
    }
    .price {
        margin-left: 3rem;

    }
    .hidden {
        display: none;
    }
    #choose h2 {
        font-size: 3rem;
        padding: 2rem;
    }
    #choose ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #choose li {
        margin: 1.5rem 0;
        padding: 0 2rem;
    }
    #buyAndRent{
        display: grid;
        margin: 2rem 0 0 0;
        padding: 0;
        height: 35rem;
        width: 100%;
    }
    .buyAndRent {
        margin:0.5rem 0;
    }
    #mainFooter ul{
        flex-direction: column;
    }
    #mainFooter li {
        margin: 0.5rem 0;
    }
    .vehicule {
        margin: 2rem;
    }
    .vehicule img {
        width: 26rem;
    }
    .rubriques {
        flex-direction: column;
        align-items: center;
    }
    .rubriques li {
        padding: 0 9.5rem;
    }
    #form {
        margin: 3rem 5rem;
        padding: 0 2rem;
        bottom: 300px;
    }
    #form h1 {
        font-size: 2.5rem;
    }
    #frmContact {
        flex-direction: column;
        margin: 0;
        padding: 0.5rem;
    }
    #contact {
        height: 52rem;
    }
    #contact form textarea {
        padding-left: 2rem;
    }
}
@media screen and (min-width: 768px){
    #menuToggle {
        display: none;
    }
}    